<div class="order-details-container">
  <div class="main-section">
    <div class="order-header" *ngFor="let item of orderdet">
      <button class="back" (click)="goToCheckout()">Back</button>
      <!-- <span class="back" onclick="goToCheckout()">← Back</span> -->
      <h2>Order-id: {{item.id}} <span class="badge paid">Paid</span> <span
          class="badge unfulfilled">Unfulfilled</span></h2>
      <p>Order date: Apr 14, 2023 · Order from <strong>{{ item.contact_name }}</strong> · Purchased via online</p>
    </div>

    <div class="order-status">
      <!-- <ul class="status-bar">
        <li class="active">Review order</li>
        <li>Preparing order</li>
        <li>Shipping</li>
        <li>Delivered</li>
      </ul> -->
      <div class="actions">
        <button class="cancelbtn" (click)="showCancelModal = true">Cancel Order</button>
        <button class="trackbtn" (click)="trackOrder()">Track Order</button>
      </div>
    </div>

    <app-cancel-order-modal *ngIf="showCancelModal" (close)="showCancelModal = false"></app-cancel-order-modal>

    <div class="product-section" >
      <h3>Products</h3>
      <div class="product-item" *ngFor="let item of orderpro.orders">
        <img [src]="item.image" alt="{{ item.name }}">
        <div class="product-info">
          <h4>{{ item.product_name }}</h4>
          <!-- <p>SKU: {{ item.sku }}</p> -->
          <!-- {{ item.color }}  -->
          <p>{{ item.description }}</p>
          <p>Quantity: {{ item.qty }}</p>
        </div>
        <div class="product-status">Unfulfilled</div>
        <div class="product-price">₹{{ item.product_price }}</div>
      </div>
    </div>

    <div class="payment-details">
      <h3>Payment Details</h3>
      <!-- <p><strong>Payment Method:</strong> <span class="card">💳 **** {{ paymentMethod.last4 }}</span></p> -->
      <div><span>Item total: </span><strong>₹{{ subtotal }}</strong></div>
      <div><span>delivery fee: </span><strong>₹{{ deliveryfee }}</strong></div>
      <div><span>Discount: </span><strong>-₹{{ discount }}</strong></div>
      <div class="gst"><span>GST & Other Charges: </span><strong>₹{{ gst }}</strong></div>
      <div class="total"><strong>TOTAL: </strong><strong>₹{{ total | number:'1.2-2'}}</strong></div>
      <p class="shipping-note">Thanks for placing order at our resturant, Keep Ordering</p>
    </div>
  </div>

  <div class="sidebar">
    <div class="order-note">
      <h4>Order Note</h4>
      <p>Carry With care</p>
    </div>

    <div class="customer-info" *ngFor="let item of orderdet">
      <h4>Customer Details</h4>
      <p><strong>{{ item.contact_name }}</strong></p>
      <p>Total: {{ customer.totalOrders }} order(s)</p>
    </div>

    <div class="shipping-address" *ngFor="let item of orderdet">
      <h4>Delivery Address</h4>
      <p>{{ item.contact_name }}</p>
      <p>{{ item.house_number }}, {{ item.street_name }},</p>
      <p>{{ item.city_name }}, {{ item.state_name }}, </p>
      <p>{{ item.pincode }} </p>
    </div>

    <div class="contact-info" *ngFor="let item of orderdet">
      <h4>Contact Information</h4>
      <p>{{ item.contact_name }}</p>
      <p>{{ item.contact_number }}</p>
    </div>
    <div class="res-info" *ngFor="let item of orderpro.orders">
      <h4>Resturant Details</h4>
      <p>{{ item.restaurant_name }}</p>
      <p>{{  resturant.location }}</p>
      <p>{{  resturant.fassai }}</p>
    </div>
    <div class="map-section">
      <h4>Delivery Location</h4>
      <iframe width="100%" height="150" style="border:1px; border-radius: 8px;" loading="lazy" allowfullscreen
        referrerpolicy="no-referrer-when-downgrade" [src]="mapUrl">
      </iframe>
    </div>
    
  </div>
</div>
