<section class="bg-orange py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="d-flex justify-content-center gap-3">
            <div class="flex-grow-0">
              <input type="text" class="form-control" value="Srinivasan Nagar, Thiru..." readonly>
            </div>
            <div class="flex-grow-1">
              <input type="text" class="form-control" placeholder="Search for restaurant, item or more">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>